@page
@model SAAS_Projectplanningtool.Pages.CustomerManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Kundenverwaltung</h1>
<hr />
<p>
    <a asp-page="Create">
        <button class="btn btn-secondary">
            Neuen Kunden anlegen
        </button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Adresse
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    <a asp-page="Details" asp-route-id="@item.CustomerId">
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </a>
                </td>
                <td>
                        <td>
                        @(item.Address != null ? item.Address.Country : "") @(item.Address != null ? item.Address.Region : ""), 
                        @(item.Address != null ? item.Address.PostalCode : "") @(item.Address != null ? item.Address.City : ""), 
                        @(item.Address != null ? item.Address.Street : "") @(item.Address != null ? item.Address.HouseNumber : "")
    </td>

                </td>
                <td>
                    @if (item.DeleteFlag)
                    {
                                        <span class="badge bg-danger">Löschvermerk</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
