@page
@model SAAS_Projectplanningtool.Pages.EmployeeManagement.HourlyRateGroups.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.HourlyRateGroup.HourlyRateGroupName</h1>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="color: grey; font-size: 0.9em;">
        Ersteller: @(Model.HourlyRateGroup.CreatedByEmployee?.EmployeeDisplayName ?? "SK Tools")
        | Erstellt am: @(Model.HourlyRateGroup.CreatedTimestamp?.ToString("dd.MM.yyyy HH:mm") ?? "Datum unbekannt")
    </span>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Letzte Änderung</h5>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderer</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.HourlyRateGroup.LatestModifier.EmployeeDisplayName)</dd>

                    <dt class="col-sm-4">Zeitpunkt</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.HourlyRateGroup.LatestModificationTimestamp)</dd>
                </dl>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderung</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.HourlyRateGroup.LatestModificationText)</dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Status</h5>
                <p class="card-text">
                    @{
                        bool isDeleteFlag = Model.HourlyRateGroup.DeleteFlag == true;
                    }
                    @if (!isDeleteFlag)
                    {
                        if (Model.isUsedInEmployee)
                        {
                            <form method="post" asp-page-handler="SetDeleteFlag" asp-route-id="@Model.HourlyRateGroup.HourlyRateGroupId" style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-archive"></i> Sperren
                                </button>
                            </form>

                            <h5>Stundensatzgruppe wird bereits von Mitarbeitern verwendet. Zum Löschen darf keine Verwendung vorliegen</h5>
                        }
                        else
                        {
                            <form method="post" asp-page-handler="Delete" asp-route-id="@Model.HourlyRateGroup.HourlyRateGroupId" style="display:inline;">
                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-archive"></i> Entsperren
                                </button>
                            </form>
                        }
                    }
                    else
                    {
                        <form method="post" asp-page-handler="UndoDeleteFlag" asp-route-id="@Model.HourlyRateGroup.HourlyRateGroupId" style="display:inline;">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-arrow-counterclockwise"></i> Wiederherstellen
                            </button>
                        </form>
                    }

                </p>
            </div>
        </div>
    </div>

<dl>
    <dt class="col-sm-2">
        Stundensatz
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HourlyRateGroup.HourlyRate)
    </dd>
    <dt class="col-sm-2">
        Name der Stundensatzgruppe
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.HourlyRateGroup.HourlyRateGroupName)
    </dd>
</dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HourlyRateGroup.HourlyRateGroupId">Edit</a> |
    <a asp-page="/EmployeeManagement/Index">Back to List</a>
</div>
