@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Employee.EmployeeDisplayName</h3>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="color: grey; font-size: 0.9em;">
        Ersteller: @(Model.Employee.CreatedByEmployee?.EmployeeDisplayName ?? "SK Tools")
        | Erstellt am: @(Model.Employee.CreatedTimestamp?.ToString("dd.MM.yyyy HH:mm") ?? "Datum unbekannt")
    </span>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Letzte Änderung</h5>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderer</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModifier.EmployeeDisplayName)</dd>

                    <dt class="col-sm-4">Zeitpunkt</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModificationTimestamp)</dd>
                </dl>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderung</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModificationText)</dd>

                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Status</h5>
                <p class="card-text">
                    @{
                        bool isDeleteFlag = Model.Employee.DeleteFlag == true;
                    }
                    @if (!isDeleteFlag)
                    {
                        <form method="post" asp-page-handler="SetDeleteFlag" asp-route-id="@Model.Employee.EmployeeId" style="display:inline;">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-archive"></i> Sperren
                            </button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="UndoDeleteFlag" asp-route-id="@Model.Employee.EmployeeId" style="display:inline;">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-arrow-counterclockwise"></i> Entsperren
                            </button>
                        </form>
                    }

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <dt class="col-sm-4">
            Email Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.IdentityUser.Email)
        </dd>
        <dt class="col-sm-4">
            Stundensatzgruppe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HourlyRateGroup.HourlyRateGroupName)
        </dd>
        <dt class="col-sm-4">
            Stundensatz in EUR €
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Employee.HourlyRateGroup.HourlyRate) €
        </dd>

    </div>

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-page="/EmployeeManagement/Index">Back to List</a>
</div>
