@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Model.Employee.EmployeeDisplayName</h3>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <span style="color: grey; font-size: 0.9em;">
        Ersteller: @(Model.Employee.CreatedByEmployee?.EmployeeDisplayName ?? "SK Tools")
        | Erstellt am: @(Model.Employee.CreatedTimestamp?.ToString("dd.MM.yyyy HH:mm") ?? "Datum unbekannt")
    </span>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Letzte Änderung</h5>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderer</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModifierEmployee.EmployeeDisplayName)</dd>

                    <dt class="col-sm-4">Zeitpunkt</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModificationTimestamp)</dd>
                </dl>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Änderung</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Employee.LatestModificationText)</dd>

                </dl>
            </div>
        </div>


        <dt class="col-sm-4">
            Email Adresse
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.IdentityUser.Email)
        </dd>
        <dt class="col-sm-4">
            Stundensatzgruppe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.HourlyRateGroup.HourlyRateGroupName)
        </dd>
        <dt class="col-sm-4">
            Stundensatz in EUR €
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Employee.HourlyRateGroup.HourlyRate) €
        </dd>

    </div>
    @* <dl class="row"> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.Company) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.Company.CompanyId) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.IdentityUser) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.IdentityUser.Id) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.IdentityRole) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.IdentityRole.Id) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.HourlyRateGroup) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.HourlyRateGroup.HourlyRateGroupId) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.EmployeeDisplayName) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.EmployeeDisplayName) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.LatestModifierEmployee) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.LatestModifierEmployee.EmployeeId) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.LatestModificationTimestamp) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.LatestModificationTimestamp) *@
    @*     </dd> *@
    @*     <dt class="col-sm-2"> *@
    @*         @Html.DisplayNameFor(model => model.Employee.LatestModificationText) *@
    @*     </dt> *@
    @*     <dd class="col-sm-10"> *@
    @*         @Html.DisplayFor(model => model.Employee.LatestModificationText) *@
    @*     </dd> *@
    @* </dl> *@

</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-page="/EmployeeManagement/Index">Back to List</a>
</div>
