@page
@model SAAS_Projectplanningtool.Pages.Projects.EditModel

@{
    ViewData["Title"] = "Edit";
}
<h1>Terminplanung</h1>
<hr />
<h4>@Model.Project.ProjectName</h4>
<hr />

<div class="row">
    @*WICHTIG: In jeder Formm input type hidden projectId mitgeben. Andernfalls wird die ProjectId falsch übergeben und der Redirect (als refresh) funktioniert nicht!!*@
    <h5>Abschnitt anlegen</h5>
    <form method="post" asp-page-handler="CreateProjectSection">
        <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
        <div class="form-group">
            <label for="sectionName">Abschnittsname</label>
            <input type="text" name="Name" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Abschnitt anlegen</button>
    </form>

    <hr />

    <h5>Abschnitt bearbeiten</h5>
    <form method="post" asp-page-handler="EditProjectSection">
        <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
        <div class="form-group">
            <label for="sectionId">Abschnitt auswählen (ID)</label>
            <input type="text" name="sectionId" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="sectionName">Neuer Abschnittsname</label>
            <input type="text" name="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Abschnitt bearbeiten</button>
    </form>

    <hr />

    <h5>Unterabschnitt anlegen</h5>
    <form method="post" asp-page-handler="CreateSubSection">
        <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
        <div class="form-group">
            <label for="parentSectionId">Übergeordneter Abschnitt (ID)</label>
            <input type="text" name="parentSectionId" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="subSectionName">Unterabschnittsname</label>
            <input type="text" name="Name" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Unterabschnitt anlegen</button>
    </form>

    <hr />

    <h5>Aufgabe anlegen</h5>
    <form method="post" asp-page-handler="CreateProjectTask">
        <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
        <div class="form-group">
            <label for="SectionId">Abschnitt (ID)</label>
            <input type="text" name="SectionId" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="taskName">Aufgabenname</label>
            <input type="text" name="Name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="startDate">Startdatum</label>
            <input type="date" name="startDate" class="form-control" />
        </div>
        <div class="form-group">
            <label for="endDate">Enddatum</label>
            <input type="date" name="endDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Aufgabe anlegen</button>
    </form>

    <hr />

    <h5>Aufgabe bearbeiten</h5>
    <form method="post" asp-page-handler="EditProjectTask">
        <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
        <div class="form-group">
            <label for="taskId">Aufgabe auswählen (ID)</label>
            <input type="text" name="taskId" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="taskName">Neuer Aufgabenname</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="startDate">Neues Startdatum</label>
            <input type="date" name="startDate" class="form-control" />
        </div>
        <div class="form-group">
            <label for="endDate">Neues Enddatum</label>
            <input type="date" name="endDate" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Aufgabe bearbeiten</button>
    </form>

</div>

<div class="mt-4">
    <a asp-page="/Projects/Details" asp-route-id="@Model.Project.ProjectId">Zurück zur Projektübersicht</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
